@model Account

<div class="text-center">
    <div>
        <h1>Bem-vindo ao PucBank!</h1>
        <p>Crie uma conta agora mesmo e aproveite as vantagens únicas do PucBank!</p>
    </div>

    <div>
        <form asp-action="CreateAccount" asp-controller="Home" method="post">
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="firstName" class="name-input" required minlength="2" />
            </div>
            <div>
                <label for="lastname">Sobrenome:</label>
                <input type="text" id="lastname" name="lastName" class="lastname-input" required minlength="2" />
            </div>
            <div>
                <label for="balance">Saldo inicial:</label>
                <input type="number" id="balance" name="balance" class="balance-input" required minlength="1" />
            </div>
            <button type="submit" class="create-account-submit-btn">Criar</button>
        </form>
    </div>
</div>
