@model Account

<div>
    <div class="text-center">
        <h1>Bem-vindo ao PucBank!</h1>
        <p>Crie uma conta agora mesmo e aproveite as vantagens únicas do PucBank!</p>
    </div>

    <div class="d-flex justify-content-center">
        <form asp-action="CreateAccount" asp-controller="Home" method="post" class="d-flex flex-column w-100 justify-content-center" style="max-width: 300px;">
            <div class="mb-3">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" id="name" name="firstName" class="form-control form-control-sm" required minlength="2" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Sobrenome:</label>
                <input type="text" id="lastname" name="lastName" class="form-control form-control-sm" required minlength="2" />
            </div>
            <div class="mb-3">
                <label for="balance" class="form-label">Saldo inicial:</label>
                <input type="number" id="balance" name="balance" class="form-control form-control-sm" required minlength="1" />
            </div>
            <button type="submit" class="create-account-submit-btn btn btn-success btn-sm mt-2">Criar</button>
        </form>
    </div>
</div>
