@model Account;

<div class="text-center">
  <h1>Bem-vindo, @Model.Owner.FirstName @Model.Owner.LastName!</h1>
</div>

<div>
  <h3>O que deseja fazer hoje?</h3>
  <h5>Saldo: R$@Model.Balance,00</h5>
</div>

@* <div class="text-center">
<div id="debit-op" class="new-debit-op-btn">
<button>
<a href="/Home/NewDebit" class="btn btn-danger">Débito</a>
</button>
</div>
</div> *@